/* 공통 Table */
.table {
  width: 100%;
  border-top: 2px solid #444;
  border-bottom: 1px solid #444;
  thead {
    border-bottom: 1px solid #ddd;
    th {
      padding: 15px 10px;
      font-size: 18px;
    }
  }
  tbody {
    td {
      vertical-align: middle;
      padding: 15px 10px;
      text-align: center;
      &.error {
        color: #f00;
      }
      &.change {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width:200px;
      }
      &.action {
        a {
          margin-right: 10px;
        }
      }
    }
  }
}

.table2 {
  width: 100%;
  tbody {
    th {
      padding: 15px 0;
      font-weight: bold;
      width: 15%;
      vertical-align: middle;
      font-size: 18px;
    }
    td {
      padding: 15px 0;
      width: 35%;
      vertical-align: middle;
      font-size: 18px;
      a {
        vertical-align: middle;
      }
    }
  }
}

.table3 {
  width: 100%;
  border-top: 1px solid #aaa;
  tbody {
    th {
      border-bottom: 1px solid #aaa;
      background-color: #D9D9D9;
      text-align: left;
      padding: 10px 20px;
      width: 15%;
      vertical-align: middle;
      font-size: 18px;
    }
    td {
      border-bottom: 1px solid #aaa;
      padding: 10px 20px;
      width: 35%;
      vertical-align: middle;
      font-size: 18px;
      input {
        width: 250px;
        border: 1px solid #ddd;
        font-size: 18px;
        padding: 5px 10px;
      }
    }
  }
}

.table4 {
  width: 100%;
  border-top: 1px solid #aaa;
  tbody {
    th {
      border-bottom: 1px solid #aaa;
      text-align: left;
      padding: 15px 20px;
      width: 37%;
      vertical-align: middle;
      font-size: 18px;
      font-weight: bold;
      span {
        color: #f00;
      }
    }
    td {
      border-bottom: 1px solid #aaa;
      padding: 15px 20px;
      vertical-align: middle;
      font-size: 18px;
      input {
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
        padding: 5px 10px;
        box-sizing: border-box;
      }
    }
  }
}

/* Toggle Switch */
.toggle_switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  input[type="checkbox"] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    font-size: initial;
    clip: rect(0 0 0 0);
  }
  input[type="checkbox"]:checked + .slider {
    background-color: #007bff;
  }
  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: 0.4s;
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 4px;
      width: 14px;
      height: 14px;
      background-color: #fff;
      border-radius: 50%;
      transition: 0.4s;
    }
  }
  input[type="checkbox"]:checked + .slider::before {
    transform: translateX(18px);
  }
}

/* Buttons */
.btns2 {
  text-align: right;
  button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #1F75CB;
    font-size:18px;
    padding: 10px 30px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    transform: translateX(-60px);
  }
}

.btn2 {
  background-color: #fff;
  border:1px solid #ddd;
  cursor: pointer;
  font-size:16px;
  line-height: 16px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.btns3 {
  margin-bottom: 30px;
  text-align: right;
  button {
    border: 1px solid #1F75CB;
    background-color: #fff;
    color: #1F75CB;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 20px;
    box-sizing: border-box;
    &:hover {
      background-color: #1F75CB;
      color: #fff;
    }
  }
}

.btns4 {
  margin-top: 20px;
  text-align: right;
  button {
    margin-left:10px;
    border: 1px solid #1F75CB;
    background-color: #1F75CB;
    color: #fff;
    transition: 0.15s ease-in-out;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 20px;
    box-sizing: border-box;
  }
}

.btns5 {
  position: absolute;
  bottom: 0;
  right: 0;
  button {
    margin-left:10px;
    border: 1px solid #1F75CB;
    background-color: #1F75CB;
    color: #fff;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
  }
}

.btns6 {
  position: absolute;
  bottom:0;
  right: 25px;
  button {
    margin-left:10px;
    border: 1px solid #1F75CB;
    background-color: #1F75CB;
    color: #fff;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
  }
}

.btns7 {
  position: absolute;
  bottom: 10px;
  right: 0;
  button {
    margin-left:10px;
    border: 1px solid #1F75CB;
    background-color: #1F75CB;
    color: #fff;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
  }
}


/* Search Bar */
.search-bar-area {
  display: flex;
  margin-bottom:30px;
  justify-content: right;
}

.search-bar-area2 {
  display: flex;
  margin-bottom:30px;
  justify-content: space-between;
  align-items: center;
  .btns {
    a {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      background-color: #1F75CB;
      font-size: 18px;
      padding: 10px 30px;
      border-radius: 20px;
    }
  }
}

.search-bar {
  background-color: #E4E7F5;
  border-radius: 5px;
  input[type='text'] {
    border: none;
    background: none;
    padding: 10px 10px;
    width: 250px;
  }
  .search-btn {
    border: none;
    text-indent: -9999px;
    overflow: hidden;
    padding: 0 0 0 30px;
    background: url('/images/search-icon.svg') no-repeat center center;
    cursor: pointer;
  }
}

/* 수정 시 이미지 나오는 영역 */
.uploaded-img {
  display: flex;
  align-items: center;
  margin-top: 20px;
  img {
    width: 81px;
    height: 53px;
    margin-right: 10px;
    border: 1px solid #ddd;
  }
}

/* Dropzone */
.dropzone {
  border: 2px dashed #cccccc;
  padding: 60px 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  p {
    padding: 15px 0 15px 70px;
    margin:0 auto;
    background: url('/images/upload-icon.svg') no-repeat 0 50%;
    span {
      color: #1F75CB;
      font-weight: bold;
    }
  }
}
