body {
  display: flex;
  height: 100vh;
}
.snb {
  position: relative;
  width: 240px;
  height:100%;
  padding: 0 20px;
  background-color: #F1F2F7;
  box-sizing: border-box;
  h1 {
    margin:35px -10px 0;
  }

  .menus {
    margin: 50px 0 50px;
    section {
      &:first-child {
        margin-bottom: 40px;
      }
      > p {
        margin-bottom: 15px;
        color: #082431;
        font-weight: bold;
      }

      &.menu {
        > ul {
          > li {
            &.ship-type {
              a {
                display: block;
                padding: 15px 0 15px 60px;
                background: url('/images/chart.svg') no-repeat 30px 50%;
                border-radius: 5px;
                color: #273240;
              }
              &.active {
                a {
                  background-color: #E4E7F5;
                }
              }
            }
          }
        }
      }
      &.settings {
        > ul {
          > li {
            > p {
              padding: 0 0 0 60px;
              background: url('/images/setting.svg') no-repeat 30px 50%;
              margin-bottom:10px;
            }
            > ul {
              > li {
                > a {
                  position: relative;
                  display: block;
                  color: #273240;
                  text-decoration: none;
                  padding: 10px 0 10px 70px;
                  border-radius: 5px;
                  &:before {
                    width:5px;
                    height:5px;
                    position: absolute;
                    top: 50%;
                    left: 50px;
                    border-radius:5px;
                    background-color: #273240;
                    display: block;
                    content: "";
                    transform: translateY(-50%);
                  }
                  &.active {
                    background-color: #E4E7F5;
                  }
                }
              }
            }
          }
        }
      }
    }
    a {
      text-decoration: none;
    }
  }

  .help {
    > p {
      > a {
        display: block;
        padding: 15px 0 15px 60px;
        background: url('/images/infoSquare.svg') no-repeat 30px 50%;
        border-radius: 5px;
        color: #273240;
        text-decoration: none;
      }
    }
  }

  .snb-footer-text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    transform: translateY(-35px);
    color: #5A6ACF;
    font-size: 20px;
    font-weight: bold;
  }
}

main {
  position: relative;
  flex-grow: 1;
}

/* Header */
header {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: #9f9f9f 3px 1px 4px;
  .header-title {
    display: flex;
    align-items: center;
    h2 {
      margin-right: 30px;
    }
  }
}

/* Footer */
footer {
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  border:1px solid #e1e1e1;
  border-bottom: none;
  border-radius: 50px 50px 0 0;
  padding:20px 80px 20px 100px;
  transform: translateX(-50%);
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  > ul {
    display: flex;
    align-items: center;
    > li {
      position: relative;

      > button {
        height: 26px;
        line-height: 26px;
        font-size:18px;
        padding:0 20px 0 60px;
        border-right: 1px solid #ddd;
      }
      &:last-child {
        > button {
          border-right: none;
        }
      }
      &.bom {
        > button {
          background: url('/images/bom.svg') no-repeat 20px 50%;
        }
      }
      &.manage {
        > button {
          background: url('/images/manage.svg') no-repeat 20px 50%;
        }
      }
      &.camera {
        > button {
          background: url('/images/camera.svg') no-repeat 20px 50%;
        }
      }
      &.note {
        > button {
          background: url('/images/note.svg') no-repeat 20px 50%;
        }
      }
      &.active {
        > ul {
          background: #fff;
          display: block;
        }
      }
      > ul {
        display: none;
        position: absolute;
        bottom: 50px;
        left: 50%;
        border: 1px solid #ddd;
        transform: translateX(-50%);
        padding: 0 20px;
        border-radius: 5px 5px 0 0;
        > li {
          border-top: 1px solid #ddd;
          &:first-child {
            border-top: none;
          }
          > button {
            font-size:16px;
            min-width: 100px;
            padding: 10px 0;
          }
        }
      }
    }
  }
}
