.ReactModalPortal {
  z-index:1000
}

.modal-wrapper {
  position: relative;
  height: 100%;
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:30px;
    span {
      color: #1F75CB;
      margin-right: 10px;
      &.title-detail {
        margin-left: 10px;
        color: #666;
        font-size: 16px;
        font-weight: normal;
      }
    }
    h2 {
      display: flex;
      align-items: center;
      font-size: 25px;
      font-weight: 600;

      button {
        margin-left: 10px;
        height: 25px;
        background: none;
        border: none;
        cursor: pointer;
      }
    }

    .modal-search {
      background-color: #E4E7F5;
      border-radius: 5px;
      input[type='text'] {
        border: none;
        background: none;
        padding: 10px 10px;
        width: 250px;
      }
      .search-btn {
        border: none;
        text-indent: -9999px;
        overflow: hidden;
        padding: 0 0 0 30px;
        background: url('/images/search-icon.svg') no-repeat center center;
        cursor: pointer;
      }
    }

    .modal-close-button {
      cursor: pointer;
      position: relative;
      background: none;
      border: none;
      display: inline-block;
      *display: inline;
      text-indent: -9999px;
      overflow: hidden;
      width: 40px;
      height: 40px;

      &::after {
        position: absolute;
        top:0;
        right:0;
        width: 40px;
        height: 40px;
        display: inline-block;
        content: "\00d7";
        font-size: 40px;
        font-weight: bold;
        color: #000;
        text-indent: 0;
      }
    }
  }

  .modal-content {
    height: calc(100% - 120px);
    overflow-y: auto;
    .change-reason {
      padding: 0 20px 20px;
      h3 {
        font-weight: bold;
        margin:0 0 20px;
        font-size: 20px;
      }
      textarea {
        resize: none;
        width: 100%;
        border: 1px solid #ddd;
        height: 185px;
        padding: 20px;
        font-family: var(--font-pretendard-sans);
        font-size: 16px;
      }
    }
    .change-reason2 {
      padding: 20px;
      h3 {
        font-weight: bold;
        margin:0 0 20px;
        font-size: 20px;
      }
      .picture-upload {
        margin-top:20px;
        display: flex;
        gap: 10px;
        > p {
          position: relative;
          button {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            background: none;
            border: none;
          }
        }
      }
      input[type="text"] {
        border: 1px solid #ddd;
        font-size: 18px;
        padding: 5px 10px;
        width: 100%;
      }
      .result-choice {
        display: flex;
        gap: 20px;
      }
      textarea {
        resize: none;
        width: 100%;
        border: 1px solid #ddd;
        height: 300px;
        padding: 20px;
        font-family: var(--font-pretendard-sans);
        font-size: 16px;
      }
    }
    .change-reason3 {
      margin-top: 60px;
    }
    .change-reason4 {
      textarea {
        resize: none;
        width: 100%;
        border: 1px solid #ddd;
        height: 400px;
        padding: 20px;
        font-family: var(--font-pretendard-sans);
        font-size: 16px;
      }
    }

    .note-list {
      > li {
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        margin: 20px 0 1px;
        padding: 25px 30px 12px;
        box-sizing: border-box;
        &:first-child {
          margin-top: 0;
        }
        &:hover {
          background-color: #F3F3F3;
          transition: all 0.2s;
        }
        .note-list-detail {
          height: 64px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          line-height: 16px;
          margin-bottom: 10px;
        }
        .note-date {
          display: flex;
          justify-content: space-between;
          align-items: center;
          > div {
            display: flex;
            p {
              margin-left: 25px;
              color: #666;
              &:first-child {
                margin-left: 0;
              }
            }
          }
          button {
            font-size: 16px;
            color: #666;
            height: 40px;
            background: #fff;
            border: 1px solid rgba(203, 200, 200, 0.20);
            box-sizing: border-box;
            padding: 0 16px;
            line-height: 40px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .modal-footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border:1px solid #ddd;
    a {
      text-decoration: none;
      background-color: #efefef;
      color: #000;
      display: inline-block;
      padding: 10px 15px;
      border-left: 1px solid #ddd;
      &:first-child {
        border-left: none;
      }
    }
  }
}

