#assyTree {left:0 !important; top:0 !important; height:calc(100% - 395px) !important; width:300px !important; background:none !important;}
#toolbar_1 {top:0 !important; left:auto !important; right:0 !important; width:653px !important;}
#toolbar_2 {top:41px !important; right:0 !important;}
#web3dPlayer_part {top:auto !important; right:auto !important; left:0 !important; bottom:40px !Important;}
#assyTree, #assyTree_body, #assyTree_header, #web3dPlayer_part, #web3dPlayer_part_header, #web3dPlayer_part_body {width:300px !Important;}

#web3dPlayer_part {height:355px !important;}
#web3dPlayer_part_header, #assyTree_header {height:20px !important;}
#web3dPlayer_part_body {height:335px !important;}
#assyTree_body {height:76% !important;}

@media screen and (max-width:1280px){
	#toolbar_1, #toolbar_2  {display:none;}
}

@media screen and (max-width:640px){
	#assyTree, #web3dPlayer_part  {display:none;}
}